<?xml version="1.0"?>
<!--
The word 'fs3sw' is obtained from the combination of the words '(f)orklift', '(s)imple' and '(3) (s)teerable
(w)heels'.

This xacro file defines the 'v1' version of the fs3sw robot, which is a combination of the 'core' version plus:
  - A top 3D LiDAR (RoboSense Helios 16P)
  - A top IMU (UM7)
  - A rear RGBD camera (Intel RealSense D435)
-->
<robot name="fs3sw_v1" xmlns:xacro="http://www.ros.org/wiki/xacro" xmlns:gz="http://gazebosim.org/schema">

  <xacro:property name="robot_forklift_simple_3sw_pkg_dir"           value="$(find robot_forklift_simple_3sw)"/>
  <xacro:property name="robotics_description_pkg_dir"  value="$(find robotics_description)"/>

  <!-- ===================================================================== -->
  <!-- INCLUDES -->
  <!-- ===================================================================== -->

  <xacro:include filename="${robot_forklift_simple_3sw_pkg_dir}/urdf/core.xacro"/>
  <!--
  Properties imported from core.xacro and used in this file:
  - use_sim_mode
  - sim_cfg
  - rosgz_bridge_cfg
  - robot_prefix
  - robot_namespace
  - base_name
  - fork_name
  - body_size_x
  - body_size_z
  -->
  <xacro:include filename="${robotics_description_pkg_dir}/urdf/sensors/all_sensors_macro.xacro"/>

  <!-- ===================================================================== -->
  <!-- ARGS -->
  <!-- ===================================================================== -->
  <xacro:arg name="top_platform_use_visual"        default="True"/>
  <xacro:arg name="top_platform_use_collision"     default="True"/>
  <xacro:arg name="top_platform_use_inertial"      default="True"/>
  <xacro:arg name="top_platform_color"             default="0.0 0.0 1.0 1.0"/> <!-- By default same color as base -->

  <xacro:arg name="top_lidar_use_visual"         default="True"/>
  <xacro:arg name="top_lidar_use_collision"      default="True"/>
  <xacro:arg name="top_lidar_use_inertial"       default="True"/>
  <xacro:arg name="top_lidar_use_v_mesh"         default="False"/>
  <!--
  The low resolution mesh has its own color. Since the low resolution mesh is used by default, the default value for
  color is empty.
  -->
  <xacro:arg name="top_lidar_use_low_res_v_mesh" default="True"/>
  <xacro:arg name="top_lidar_color"              default=""/>
  <!-- Use shape instead of mesh for collision by default. -->
  <xacro:arg name="top_lidar_use_c_mesh"         default="False"/>
  <xacro:arg name="top_lidar_use_low_res_c_mesh" default="False"/>

  <xacro:arg name="top_imu_use_visual"         default="True"/>
  <xacro:arg name="top_imu_use_collision"      default="True"/>
  <xacro:arg name="top_imu_use_inertial"       default="True"/>
  <!-- The mesh has its own color. Since the mesh is used by default, the default value for color is empty. -->
  <xacro:arg name="top_imu_use_v_mesh"         default="True"/>
  <xacro:arg name="top_imu_color"              default=""/>
  <xacro:arg name="top_imu_use_c_mesh"         default="False"/>

  <xacro:arg name="rear_rgbd_use_visual"       default="True"/>
  <xacro:arg name="rear_rgbd_use_collision"    default="True"/>
  <xacro:arg name="rear_rgbd_use_inertial"     default="True"/>
  <xacro:arg name="rear_rgbd_use_v_mesh"       default="True"/>
  <xacro:arg name="rear_rgbd_color"            default="0.5 0.5 0.5 1.0"/>
  <!-- Use shape instead of mesh for collision by default. -->
  <xacro:arg name="rear_rgbd_use_c_mesh"       default="False"/>

  <!-- ===================================================================== -->
  <!-- DEFINITION OF PROPERTIES -->
  <!-- ===================================================================== -->

  <!-- Create properties from args for easy manipulation. -->

  <!-- Top platform -->
  <xacro:property name="top_platform_use_visual"        value="$(arg top_platform_use_visual)"/>
  <xacro:property name="top_platform_use_collision"     value="$(arg top_platform_use_collision)"/>
  <xacro:property name="top_platform_use_inertial"      value="$(arg top_platform_use_inertial)"/>
  <xacro:property name="top_platform_color"             value="$(arg top_platform_color)"/>

  <xacro:property name="top_platform_mass"              value="1"/>
  <xacro:property name="top_platform_size_x"            value="0.08"/>
  <xacro:property name="top_platform_size_y"            value="0.08"/>
  <xacro:property name="top_platform_size_z"            value="0.146"/>

  <!-- Top LiDAR: Robosense Helios 16P -->
  <xacro:property name="top_lidar_use_visual"         value="$(arg top_lidar_use_visual)"/>
  <xacro:property name="top_lidar_use_collision"      value="$(arg top_lidar_use_collision)"/>
  <xacro:property name="top_lidar_use_inertial"       value="$(arg top_lidar_use_inertial)"/>
  <xacro:property name="top_lidar_use_v_mesh"         value="$(arg top_lidar_use_v_mesh)"/>
  <xacro:property name="top_lidar_use_low_res_v_mesh" value="$(arg top_lidar_use_low_res_v_mesh)"/>
  <xacro:property name="top_lidar_color"              value="$(arg top_lidar_color)"/>
  <xacro:property name="top_lidar_use_c_mesh"         value="$(arg top_lidar_use_c_mesh)"/>
  <xacro:property name="top_lidar_use_low_res_c_mesh" value="$(arg top_lidar_use_low_res_c_mesh)"/>

  <!-- See macro robosense_helios_16p_macro.xacro to check radius and length values. -->
  <xacro:property name="top_lidar_radius"             value="0.05"/>
  <xacro:property name="top_lidar_length"             value="0.1005"/>

  <!-- Top IMU: UM7 -->
  <xacro:property name="top_imu_use_visual"           value="$(arg top_imu_use_visual)"/>
  <xacro:property name="top_imu_use_collision"        value="$(arg top_imu_use_collision)"/>
  <xacro:property name="top_imu_use_inertial"         value="$(arg top_imu_use_inertial)"/>
  <xacro:property name="top_imu_use_v_mesh"           value="$(arg top_imu_use_v_mesh)"/>
  <xacro:property name="top_imu_color"                value="$(arg top_imu_color)"/>
  <xacro:property name="top_imu_use_c_mesh"           value="$(arg top_imu_use_c_mesh)"/>

  <!-- Rear RGBD: RealSense D435 -->
  <xacro:property name="rear_rgbd_use_visual"         value="$(arg rear_rgbd_use_visual)"/>
  <xacro:property name="rear_rgbd_use_collision"      value="$(arg rear_rgbd_use_collision)"/>
  <xacro:property name="rear_rgbd_use_inertial"       value="$(arg rear_rgbd_use_inertial)"/>
  <xacro:property name="rear_rgbd_use_v_mesh"         value="$(arg rear_rgbd_use_v_mesh)"/>
  <xacro:property name="rear_rgbd_color"              value="$(arg rear_rgbd_color)"/>
  <!-- Use shape instead of mesh for collision by default. -->
  <xacro:property name="rear_rgbd_use_c_mesh"         value="$(arg rear_rgbd_use_c_mesh)"/>

  <!-- See macro realsense_d435_macro.xacro to check properties. -->
  <xacro:property name="rear_rgbd_size_y"             value="0.090"/>

  <!-- ===================================================================== -->
  <!-- TOP PLATFORM -->
  <!-- ===================================================================== -->

  <!-- The frame of the top platform is located at the center of its bottom face. -->
  <xacro:property name="top_plaftorm_origin" value="0.0 0.0 ${0.5 * top_platform_size_z} 0.0 0.0 0.0"/>
  <xacro:property name="top_platform_size"
                  value="${top_platform_size_x} ${top_platform_size_y} ${top_platform_size_z}"/>

  <link name="${robot_prefix}top_platform_link">
    <xacro:if value="${top_platform_use_visual}">
      <xacro:visual_box size="${top_platform_size}"
                        shape_origin="${top_plaftorm_origin}"
                        color="${robot_prefix}top_platform_color ${top_platform_color}"/>

    </xacro:if>

    <xacro:if value="${top_platform_use_collision}">
      <xacro:collision_box size="${top_platform_size}" shape_origin="${top_plaftorm_origin}"/>
    </xacro:if>

    <xacro:if value="${top_platform_use_inertial}">
      <xacro:solid_box_inertia mass="${top_platform_mass}" size="${top_platform_size}" origin="${top_plaftorm_origin}"/>
    </xacro:if>

    <xacro:unless value="${top_platform_use_inertial}">
      <xacro:null_inertia/>
    </xacro:unless>
  </link>

  <!-- Top platform (tp), located at robot's ceiling, where the LiDAR is placed -->
  <joint name="${robot_prefix}top_platform_joint" type="fixed">
    <parent link="${robot_prefix}${base_name}_link"/>
    <child link="${robot_prefix}top_platform_link"/>
    <origin rpy="0.0 0.0 0.0" xyz="-0.08629 0.0 ${body_size_z}"/>
  </joint>

  <!-- ===================================================================== -->
  <!-- TOP LIDAR: ROBOSENSE HELIOS 16P -->
  <!-- ===================================================================== -->

  <!--
  <xacro:property name="joint_parent_fr_front_lidar_fr_x" value="${(0.5 * body_size_x) + front_lidar_radius - 0.028}"/>
  -->
  <xacro:property name="top_lidar_sim_cfg" value="${sim_cfg.get('top_lidar', dict())}"/>
  <xacro:property name="bc_cfg_top_lidar" value="${rosgz_bridge_cfg.get('top_lidar', dict())}"/>

  <!--
  If use_sim_mode is True and the top_lidar_sim_cfg has the 'enabled' field set to True, then the top lidar
  simulation is enabled.

  If use_sim_mode is False or no configuration for the top lidar is found in the
  simulation file or no 'enabled' field is found in the top lidar configuration or if the 'enabled' field is set to
  False, then the top lidar simulation is disabled.

  set_props_plugin_lidar_3d_ring will set the following properties:
  - ${prop_prefix}_use_sim
  - ${prop_prefix}_sim_always_on
  - ${prop_prefix}_sim_visualize
  - ${prop_prefix}_sim_update_rate
  - ${prop_prefix}_sim_hor_fov_deg
  - ${prop_prefix}_sim_hor_res_deg
  - ${prop_prefix}_sim_ver_fov_deg
  - ${prop_prefix}_sim_ver_res_deg
  - ${prop_prefix}_sim_dist_span
  - ${prop_prefix}_sim_gaussian_noise
  -->
  <xacro:set_props_plugin_lidar_3d_ring prop_prefix="top_lidar"
                                        lidar_3d_sim_cfg="${top_lidar_sim_cfg}"/>

  <!--
  parent_frame="${robot_prefix}${base_name}_link"
  joint_parent_fr_root_fr="${joint_base_fr_front_lidar_fr_x} 0 0.28 0 0 0"
  -->

  <xacro:robosense_helios_16p name="top_lidar"
                              prefix="${robot_prefix}"
                              namespace="${robot_namespace}"
                              parent_frame="${robot_prefix}top_platform_link"
                              use_visual="${top_lidar_use_visual}"
                              use_collision="${top_lidar_use_collision}"
                              use_inertial="${top_lidar_use_inertial}"
                              use_v_mesh="${top_lidar_use_v_mesh}"
                              use_low_res_v_mesh="${top_lidar_use_low_res_v_mesh}"
                              color="${top_lidar_color}"
                              use_c_mesh="${top_lidar_use_c_mesh}"
                              use_low_res_c_mesh="${top_lidar_use_low_res_c_mesh}"
                              joint_parent_fr_root_fr="0.0 0.0 ${top_platform_size_z} 0.0 0.0 0.0"
                              use_sim="${use_sim_mode and top_lidar_sim_enabled}"
                              sim_always_on="${top_lidar_sim_always_on}"
                              sim_visualize="${top_lidar_sim_visualize}"
                              sim_update_rate="${top_lidar_sim_update_rate}"
                              sim_hor_fov_deg="${top_lidar_sim_hor_fov_deg}"
                              sim_hor_res_deg="${top_lidar_sim_hor_res_deg}"
                              sim_ver_fov_deg="${top_lidar_sim_ver_fov_deg}"
                              sim_ver_res_deg="${top_lidar_sim_ver_res_deg}"
                              sim_dist_span="${top_lidar_sim_dist_span}"
                              sim_gaussian_noise="${top_lidar_sim_gaussian_noise}"
                              sim_topic="${bc_cfg_top_lidar.get('gz_topic_name', '')}"/>

  <!-- ===================================================================== -->
  <!-- TOP IMU: UM7 -->
  <!-- ===================================================================== -->

  <xacro:property name="top_imu_sim_cfg" value="${sim_cfg.get('top_imu', dict())}"/>
  <xacro:property name="bc_cfg_top_imu" value="${rosgz_bridge_cfg.get('top_imu', dict())}"/>

  <!--
  If use_sim_mode is True and the top_imu_sim_cfg has the 'enabled' field set to True, then the top imu simulation is
  enabled.

  If use_sim_mode is False or no configuration for the top imu is found in the
  simulation file or no 'enabled' field is found in the top imu configuration or if the 'enabled' field is set to
  False, then the top imu simulation is disabled.
  -->
  <xacro:set_props_plugin_imu prop_prefix="top_imu"
                              imu_sim_cfg="${top_imu_sim_cfg}"/>

  <xacro:um7 name="top_imu"
             prefix="${robot_prefix}"
             namespace="${robot_namespace}"
             parent_frame="${robot_prefix}top_lidar_root_link"
             use_visual="${top_imu_use_visual}"
             use_collision="${top_imu_use_collision}"
             use_inertial="${top_imu_use_inertial}"
             use_v_mesh="${top_imu_use_v_mesh}"
             color="${top_imu_color}"
             use_c_mesh="${top_imu_use_c_mesh}"
             joint_parent_fr_root_fr="0 0 ${top_lidar_length} 0 0 0"
             use_sim="${use_sim_mode and top_imu_sim_enabled}"
             sim_use_gravity="${top_imu_sim_use_gravity}"
             sim_always_on="${top_imu_sim_always_on}"
             sim_update_rate="${top_imu_sim_update_rate}"
             sim_ang_vel_gaussian_noise="${top_imu_sim_ang_vel_gaussian_noise}"
             sim_ang_vel_gaussian_noise_bias="${top_imu_sim_ang_vel_gaussian_noise_bias}"
             sim_ang_vel_gaussian_noise_dynamic_bias="${top_imu_sim_ang_vel_gaussian_noise_dynamic_bias}"
             sim_lin_acc_gaussian_noise="${top_imu_sim_lin_acc_gaussian_noise}"
             sim_lin_acc_gaussian_noise_bias="${top_imu_sim_lin_acc_gaussian_noise_bias}"
             sim_lin_acc_gaussian_noise_dynamic_bias="${top_imu_sim_lin_acc_gaussian_noise_dynamic_bias}"
             sim_use_orientation="${top_imu_sim_use_orientation}"
             sim_topic="${bc_cfg_top_imu.get('gz_topic_name', '')}"/>

  <!-- ===================================================================== -->
  <!-- REAR CAMERA: REALSENSE D435 -->
  <!-- ===================================================================== -->

  <xacro:if value="${False}">
    <!-- The rear camera is temporarily disabled while we finish the bridge refactor. -->
    <xacro:property name="rear_camera_sim_cfg" value="${sim_cfg.get('rear_camera', dict())}"/>

    <xacro:property name="rear_cam_c_sim_cfg"
                    value="${rear_camera_sim_cfg['color_camera'] if use_sim_mode else dict(enabled=False, type='camera')}"/>

    <xacro:property name="rear_cam_ir_sim_cfg"
                    value="${rear_camera_sim_cfg['infrared_camera'] if use_sim_mode else dict(enabled=False, type='camera')}"/>

    <xacro:property name="rear_cam_d_sim_cfg"
                    value="${rear_camera_sim_cfg['depth_camera'] if use_sim_mode else dict(enabled=False, type='depth')}"/>

    <xacro:set_props_plugin_camera_all prop_prefix="rear_cam_c"
                                       camera_sim_cfg="${rear_cam_c_sim_cfg}"/>

    <xacro:set_props_plugin_camera_all prop_prefix="rear_cam_ir"
                                       camera_sim_cfg="${rear_cam_ir_sim_cfg}"/>

    <xacro:set_props_plugin_camera_all prop_prefix="rear_cam_d"
                                       camera_sim_cfg="${rear_cam_d_sim_cfg}"/>

    <xacro:realsense_d435 name="rear_camera"
                          prefix="${robot_prefix}"
                          namespace="${robot_namespace}"
                          parent_frame="${robot_prefix}${fork_name}_root_link"
                          use_visual="${rear_rgbd_use_visual}"
                          use_collision="${rear_rgbd_use_collision}"
                          use_inertial="${rear_rgbd_use_inertial}"
                          use_v_mesh="${rear_rgbd_use_v_mesh}"
                          color="${rear_rgbd_color}"
                          use_c_mesh="${rear_rgbd_use_c_mesh}"
                          joint_parent_fr_root_fr="0.010401 0.0 0.0 0.0 0.0 0.0"
                          use_nominal_extrinsics="${use_sim_mode}"
                          use_sim="${use_sim_mode}"
                          color_cam_sim_enabled="${rear_cam_c_sim_enabled}"
                          color_cam_sim_use_gravity="${rear_cam_c_sim_use_gravity}"
                          color_cam_sim_always_on="${rear_cam_c_sim_always_on}"
                          color_cam_sim_visualize="${rear_cam_c_sim_visualize}"
                          color_cam_sim_enable_metrics="${rear_cam_c_sim_enable_metrics}"
                          color_cam_sim_save="${rear_cam_c_sim_save}"
                          color_cam_sim_triggered="${rear_cam_c_sim_triggered}"
                          color_cam_sim_visible_mask="${rear_cam_c_sim_visible_mask}"
                          color_cam_sim_clip="${rear_cam_c_sim_clip}"
                          color_cam_sim_update_rate="${rear_cam_c_sim_update_rate}"
                          color_cam_sim_image="${rear_cam_c_sim_image}"
                          color_cam_sim_lens_single_elements="${rear_cam_c_sim_lens_single_elements}"
                          color_cam_sim_lens_custom_function="${rear_cam_c_sim_lens_custom_function}"
                          color_cam_sim_lens_intrinsics="${rear_cam_c_sim_lens_intrinsics}"
                          color_cam_sim_lens_projection="${rear_cam_c_sim_lens_projection}"
                          color_cam_sim_lens_xy_skew="${rear_cam_c_sim_lens_xy_skew}"
                          color_cam_sim_distortion_k_p="${rear_cam_c_sim_distortion_k_p}"
                          color_cam_sim_distortion_center="${rear_cam_c_sim_distortion_center}"
                          color_cam_sim_gaussian_noise="${rear_cam_c_sim_gaussian_noise}"
                          infrared_cam_sim_enabled="${rear_cam_ir_sim_enabled}"
                          infrared_cam_sim_use_gravity="${rear_cam_ir_sim_use_gravity}"
                          infrared_cam_sim_always_on="${rear_cam_ir_sim_always_on}"
                          infrared_cam_sim_visualize="${rear_cam_ir_sim_visualize}"
                          infrared_cam_sim_enable_metrics="${rear_cam_ir_sim_enable_metrics}"
                          infrared_cam_sim_save="${rear_cam_ir_sim_save}"
                          infrared_cam_sim_triggered="${rear_cam_ir_sim_triggered}"
                          infrared_cam_sim_visible_mask="${rear_cam_ir_sim_visible_mask}"
                          infrared_cam_sim_clip="${rear_cam_ir_sim_clip}"
                          infrared_cam_sim_update_rate="${rear_cam_ir_sim_update_rate}"
                          infrared_cam_sim_image="${rear_cam_ir_sim_image}"
                          infrared_cam_sim_lens_single_elements="${rear_cam_ir_sim_lens_single_elements}"
                          infrared_cam_sim_lens_custom_function="${rear_cam_ir_sim_lens_custom_function}"
                          infrared_cam_sim_lens_intrinsics="${rear_cam_ir_sim_lens_intrinsics}"
                          infrared_cam_sim_lens_projection="${rear_cam_ir_sim_lens_projection}"
                          infrared_cam_sim_lens_xy_skew="${rear_cam_ir_sim_lens_xy_skew}"
                          infrared_cam_sim_distortion_k_p="${rear_cam_ir_sim_distortion_k_p}"
                          infrared_cam_sim_distortion_center="${rear_cam_ir_sim_distortion_center}"
                          infrared_cam_sim_gaussian_noise="${rear_cam_ir_sim_gaussian_noise}"
                          depth_cam_sim_enabled="${rear_cam_d_sim_enabled}"
                          depth_cam_sim_use_gravity="${rear_cam_d_sim_use_gravity}"
                          depth_cam_sim_always_on="${rear_cam_d_sim_always_on}"
                          depth_cam_sim_visualize="${rear_cam_d_sim_visualize}"
                          depth_cam_sim_enable_metrics="${rear_cam_d_sim_enable_metrics}"
                          depth_cam_sim_save="${rear_cam_d_sim_save}"
                          depth_cam_sim_triggered="${rear_cam_d_sim_triggered}"
                          depth_cam_sim_visible_mask="${rear_cam_d_sim_visible_mask}"
                          depth_cam_sim_clip="${rear_cam_d_sim_clip}"
                          depth_cam_sim_depth_clip="${rear_cam_d_sim_depth_clip}"
                          depth_cam_sim_update_rate="${rear_cam_d_sim_update_rate}"
                          depth_cam_sim_image="${rear_cam_d_sim_image}"
                          depth_cam_sim_lens_single_elements="${rear_cam_d_sim_lens_single_elements}"
                          depth_cam_sim_lens_custom_function="${rear_cam_d_sim_lens_custom_function}"
                          depth_cam_sim_lens_intrinsics="${rear_cam_d_sim_lens_intrinsics}"
                          depth_cam_sim_lens_projection="${rear_cam_d_sim_lens_projection}"
                          depth_cam_sim_lens_xy_skew="${rear_cam_d_sim_lens_xy_skew}"
                          depth_cam_sim_distortion_k_p="${rear_cam_d_sim_distortion_k_p}"
                          depth_cam_sim_distortion_center="${rear_cam_d_sim_distortion_center}"
                          depth_cam_sim_gaussian_noise="${rear_cam_d_sim_gaussian_noise}"/>
  </xacro:if>
</robot>
